body{
    background-color: aliceblue
}
.contenedor{
    height: 1200px;
    width: 80%;
}
div
{
position: absolute;
top: 45px;
left:350px;
transition: all .5s ease-in-out;
}



    
    
@media screen and (max-width: 800px){
    .main{
        width: 100%;
    }
    aside{
        width: 100%
    }
    
}


    

